.envrc
.env
tmp/

# Python
.venv
*.pyc
__pycache__/
dist/
.ruff_cache
.pytest_cache

# Jupyter
.ipynb_checkpoints

# Guided
.workspace/

# osx
.DS_Store

# IDE
*.swp

# Deepeval
.deepeval

# mkdocs
site/

